
/* Estilos para el footer */
.footer {
    background: linear-gradient(180deg, #2c3e50, #000000); /* Degradado vertical */
    border-top: 4px solid #ff9800; /* Línea de borde naranja en la parte superior */
    border-top-left-radius: 10px; /* Borde redondeado solo en la parte superior izquierda */
    border-top-right-radius: 10px; /* Borde redondeado solo en la parte superior derecha */
    padding: 40px; /* Añadir un poco de espacio */
    text-align: center;
    color: #ffffff; /* Texto blanco */
  }
  
  /* Enlaces del footer */
  .footer a {
    color: #ff9800; /* Naranja brillante para los enlaces */
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave para hover */
  }
  
  /* Enlaces del footer al pasar el mouse */
  .footer a:hover {
    color: #ffb74d; /* Naranja más claro en hover */
  }
  
  /* Ajustes para el texto del footer */
  .footer p {
    margin: 0;
    padding: 5px 0;
    color: #f1f1f1; /* Texto gris claro */
    font-size: 14px;
  }
  
  
  