/* Fondo principal con imagen */

/* Posicionamiento del título principal SafeTRACK */

.hero-title:first-of-type {
  font-size: 3rem;
  font-weight: 700; /* Cambiado de 600 a 700 para hacerlo más negrita */
  margin-bottom: 2rem;
}


.hero-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.444); /* Fondo blanco translúcido */
  color: #0a4682; /* Azul oscuro */
  text-align: center;
  padding: 2rem;
  border-radius: 12px; /* Bordes sutilmente redondeados */
  width: 100%;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #072b4f; /* Azul profundo */
  text-shadow: 
    -1px -1px 0 #ffffff, /* Sombra superior izquierda */
    1px -1px 0 #ffffff,  /* Sombra superior derecha */
    -1px 1px 0 #ffffff,  /* Sombra inferior izquierda */
    1px 1px 0 #ffffff;   /* Sombra inferior derecha */
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555555; /* Gris suave */
  line-height: 1.6;
}

.hero-button {
  background-color: #ffa726; /* Botón naranja cálido */
  color: #ffffff;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.0rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-button:hover {
  background-color: #b86721; /* Azul más intenso */
  transform: scale(1.03); /* Pequeño efecto de ampliación */
}

/* Sección de características */
.features-section {
  padding: 4rem 1.5rem;
  background-color: #f4f8fb; /* Azul muy claro para suavidad */
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #003366; /* Azul profundo */
  font-weight: 600;
}

.features-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
}

.feature {
  background: #ffffff; /* Fondo blanco limpio */
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08); /* Sombra suave */
  width: 260px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px); /* Pequeño efecto de elevación */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra ligeramente más marcada */
}

.feature h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  color: #003366; /* Azul profundo */
}

.feature p {
  font-size: 0.9rem;
  color: #444444; /* Gris neutro */
  line-height: 1.5;
}


