/* Fondo */
.login-page .login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(2px); 
  font-family: 'Playfair Display', serif;
}

/* Título */
.title-login{
  font-family: 'Playfair Display', serif;
  font-weight: 600; 
}

/* Tarjeta de Login */
.login-page .login-style {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Inputs */
.login-page .form-control {
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #cccccc;
  background: rgba(255, 255, 255, 0.9);
  color: #333333;
}

.login-page .form-control:focus {
  border: 1px solid #007bff;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Botón */
.login-page .btn-sesion {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 30px;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  font-family: 'Playfair Display', serif;
}

.login-page .btn-sesion:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Links */
.login-page a {
  color: #383a3bd9;
  text-decoration: none;
}

.login-page a:hover {
  color: #007bff;
  text-decoration: underline;
}
