
/* styles.css TRAINING USERS */
.training-background {
    background-image: url('./assets/trainingUsers.webp'); 
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .training-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.175); /* Fondo semi-transparente y oscuro */
    backdrop-filter: blur(2px); /* desenfoque al fondo */
    z-index: 1; /* overlay esté detrás del contenido */
  }
  
  .training-content {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.422); 
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
  
  .training-card {
    background-color: rgba(255, 255, 255, 0.748); 
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.427);
    color: #090909; 
    max-width: 600px; 
    margin: 0 auto; 
    border: 1px solid #ccc; 
  }
  
  .training-card .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
  }
  
  .training-card .card-text {
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: justify; 
  }
  
  .training-card .btn {
    margin-top: 10px;
  }
  
  .card-img-perfil {
    width: auto; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  