/*ESTILOS VISTA WORKERTraining*/

.worker-background {
    background-image: url('../assets/perfil-trabajador.jpg'); 
    background-size: cover; 
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .worker-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); 
    z-index: 1; 
  }
  
  .worker-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
  }
  
  .worker-card {
    background-color: rgba(255, 255, 255, 0.85); 
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #090909; 
    flex-basis: 30%;
  }
  
  .worker-img-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto 10px auto;
  }
  .worker-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .worker-card-text {
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: justify;
  }
  
  .worker-trainings-section {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .worker-trainings-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .worker-trainings-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .worker-training-item {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .training-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .training-description {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .enroll-button:hover {
    background-color: #0056b3;
  }
  
  .no-trainings {
    text-align: center;
    font-size: 1.2rem;
    color: #ff0000;
  }
  
  .enroll-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .enroll-button.enrolled {
    background-color: #dc3545;
  }
  
  .enroll-button:hover:not(.enrolled) {
    background-color: #0056b3;
  }
  

  
  
  