body {
  background: url('./assets/login20.png') no-repeat center center/cover;
}

/* APP CONTEINER PRINCIPAL APP PARA MANTENER FOOTER*/
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Para mantener Footer */
.content {
  flex: 1;
}
