body {
  background: url('./assets/login20.png') no-repeat center center/cover;
}







/**********************************************************************************************/
/* Estilos para el navbar */
.navbar {
  background: linear-gradient(180deg, #2c3e50, #000000); /* Degradado vertical */
  border-bottom: 2px solid #ff9800; /* Línea de borde naranja */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px; /* Añadir un poco de espacio alrededor */
}

/* Transición suave para los enlaces */
.navbar a {
  color: #ffffff; /* Texto blanco */
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
  transition: color 0.3s ease; /* Transición suave para hover */
}

/* Cambia color de los enlaces al hacer hover */
.navbar a:hover {
  color: #ff9800; /* Naranja brillante en hover */
}

/* Logo normal */
.navbar-brand img {
  height: 50px; /* Tamaño del logo por defecto */
  transition: transform 0.4s ease; /* Transición suave para agrandar */
}

/* Logo agrandado al hacer hover */
.navbar-brand img:hover {
  transform: scale(1.2); /* Agranda el logo en un 20% */
}

/* Botón del menú en móviles */
.navbar-toggler {
  border-color: #ffffff; /* Color del botón de menú en móviles */
}

/* Estilos para el nombre de usuario */
.navbar .rounded-pill {
  background-color: #ff9800; /* Fondo naranja para el nombre de usuario */
  padding: 5px 10px;
}

/* Estilos para el botón de cerrar sesión */
.navbar .rounded-pill button {
  background-color: #e74c3c; /* Botón de cerrar sesión rojo */
  border: none;
  transition: background-color 0.3s ease; /* Transición suave para hover */
}

.navbar .rounded-pill button:hover {
  background-color: #c0392b; /* Rojo más oscuro en hover */
}

/******************************************************************************/




  /* Styles LOGIN */
  .login-page .login-background {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(2px) !important; 
    
  }
  .title-login {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    
  }
  /* Card styles */
  .login-page .login-style {
    background: rgba(243, 243, 243, 0.594);
    border: none;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(247, 247, 247, 0.323);
  }
  
  /* Card header styles */
  .login-page .card-header {
    background: none;
    border: none;
  }
  
  .login-page .card-header h2 {
    font-size: 2rem;
    margin: 0;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.9); 
  }
  .training-list-title {
    font-size: 32px; 
    font-weight: bold;
    color: #ffffff; 
    text-align: center; 
    margin-bottom: 20px; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Sombra para mejorar el contraste */
  }
  
  /* Form styles */
  .login-page form {
    margin: 20px 0;
  }
  
  .login-page .form-label {
    font-weight: bold;
  }
  
  .login-page .form-control {
    border-radius: 30px;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.451);
    color: #000000;
  }
  
  .login-page .form-control:focus {
    background: rgba(237, 232, 232, 0.884);
    box-shadow: none;
  }
  
  .login-page .btn-sesion {
    background-color: #007bff; /* Azul tipo Bootstrap primary */
    color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .login-page .btn-sesion:hover {
    background-color: #0056b3; /* Un tono más oscuro en hover */
  }
  
  
  .login-page .text-white {
    color: white;
  }
  
  /* Link styles */
  .login-page a {
    color: #ff9800;
    text-decoration: none;
  }
  
  .login-page a:hover {
    color: #e67e22; /* Un color más oscuro al hacer hover */
    text-decoration: underline;
  }

/* Estilo para el título de inicio de sesión */
.title-login {
  font-size: 15px; 
  font-weight: bold;
  color: #f6f6f6;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Sombra para mejor contraste */
}


  /**********************************************************************/

/* styles.css CREATEUSER */
.create-user-bg {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  backdrop-filter: blur(2px) !important; 
}

.create-user-form {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-create-user{
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}



/**********************************************************************/

/* styles.css TRAINING USERS */
.training-background {
  background-image: url('./assets/trainingUsers.webp'); 
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.training-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.175); /* Fondo semi-transparente y oscuro */
  backdrop-filter: blur(2px); /* desenfoque al fondo */
  z-index: 1; /* overlay esté detrás del contenido */
}

.training-content {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.422); 
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.training-card {
  background-color: rgba(255, 255, 255, 0.748); 
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.427);
  color: #090909; 
  max-width: 600px; 
  margin: 0 auto; 
  border: 1px solid #ccc; 
}

.training-card .card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}

.training-card .card-text {
  font-size: 1rem;
  margin-bottom: 5px;
  text-align: justify; 
}

.training-card .btn {
  margin-top: 10px;
}

.card-img-perfil {
  width: auto; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/**********************************************************************/

/* APP CONTEINER PRINCIPAL APP PARA MANTENER FOOTER*/
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* DIV del Footer */
.content {
  flex: 1;
}

/* Estilos para el footer con degradado */
.footer {
  background: linear-gradient(180deg, #2c3e50, #000000); /* Degradado vertical */
  border-top: 2px solid #ff9800; /* Línea de borde naranja en la parte superior */
  border-top-left-radius: 10px; /* Borde redondeado solo en la parte superior izquierda */
  border-top-right-radius: 10px; /* Borde redondeado solo en la parte superior derecha */
  padding: 20px; /* Añadir un poco de espacio */
  text-align: center;
  color: #ffffff; /* Texto blanco */
}

/* Enlaces del footer */
.footer a {
  color: #ff9800; /* Naranja brillante para los enlaces */
  text-decoration: none;
  transition: color 0.3s ease; /* Transición suave para hover */
}

/* Enlaces del footer al pasar el mouse */
.footer a:hover {
  color: #ffb74d; /* Naranja más claro en hover */
}

/* Ajustes para el texto del footer */
.footer p {
  margin: 0;
  padding: 5px 0;
  color: #f1f1f1; /* Texto gris claro */
  font-size: 14px;
}


/**********************************************************************/


/* STYLES HOME */
.home-container{
  backdrop-filter: blur(8px) !important; 
}

.home-header {
  /* background: rgba(241, 236, 236, 0.242);  */
  padding: 2rem;
  border-radius: 0.8rem;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.96); 
}

.home-card {
  background: rgba(98, 90, 217, 0.229); /* Fondo semi-transparente */
  border: none; 
  border: 4px solid #cccdd330; /* Bordes sutiles */
  box-shadow: 0 4px 6px rgba(255, 252, 252, 0.914); /* Sombra sutil */
  padding: 10px; /* Más espacio interno */
  transition: transform 0.6s ease-in-out; /* Añadir animación */
}

.home-card:hover {
  transform: scale(1.07); /* Animación de zoom al pasar el ratón */
}

.home-card-img {
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
  height: 200px; 
}

.home-card .card-footer {
  background: transparent; /* Fondo transparente para el pie de la tarjeta */
  border-top: none;
}

.home-card .card-text {
  text-align: justify; 
}

/* Estilo del título principal */
.home-title1 {
  font-family: 'Acme', sans-serif;
  font-size: 3.0rem;
  font-weight: 600;
  color: #0c2641; /* Naranja oscuro que complementa bien */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.997); /* Sombra sutil para hacer que resalte */
}

.home-title {
  font-family: 'Acme', sans-serif;
  font-size: 5.5rem;
  font-weight: 600;
  color: #0c2641; /* Naranja oscuro que complementa bien */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.997); /* Sombra sutil para hacer que resalte */
}

/* Estilo del subtítulo */
.home-subtitle {
  font-family: 'Acme', sans-serif;
  font-size: 2.0rem;
  font-weight: 500;
  color: #0c2641; /* Gris medio para subtítulo */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.997); /* Sombra sutil para resaltar */
}

.btn-info1 {
  background-color: #e66621; /* Azul intenso */
  border-color: #f5f5f6f7;
  color: #fff; /* Texto blanco */
}


/**********************************************************************/

/* CREATE TRAINING*/

.create-training {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9d5;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.create-training .card-header {
  background-color: #0b54a1; 
  color: white; 
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  
}

.create-training h3 {
  margin: 0;
}

.create-training .card-body {
  padding: 20px;
}

.create-training .form-label {
  font-weight: bold;
}


.create-training .btn-primary .btn-danger {
  margin-top: 10px;
}

/**********************************************************************/

/* Estilo WIEW TRAINING */

.training-list-title {
  font-size: 32px; 
  font-weight: bold;
  color: #ffffff; 
  text-align: center; 
  margin-bottom: 20px; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Sombra para mejorar el contraste */
}



/**********************************************************************/

/*STYLES EDITAR CAPACITACION*/
.editTraining {
  max-width: 700px;
  border: 2px solid #007bff;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  padding: 20px; 
  background-color: #f8f9fa; 
}

.editTraining .card-header {
  background-color: #007bff; 
  color: #fff; 
  text-align: center; 
  font-weight: bold; 
}

.editTraining .card-body {
  padding: 20px; 
}

.editTraining .form-label {
  font-weight: bold; 
}

.editTraining .form-control {
  border-radius: 10px; /* Esquinas redondeadas para los campos de entrada */
}

.editTraining .btn {
  margin-top: 10px;
}


/**********************************************************************/

/*STYLES EDITAR USUARIO. PANEL ADMIN*/
.editUser {
  max-width: 600px; 
  border: 2px solid #007bff; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  background-color: #f8f9fa;
}

.editUser .card-header {
  background-color: #007bff; 
  color: #fff; 
  text-align: center; 
  font-weight: bold; 
}

.editUser .card-body {
  padding: 20px; 
}

.editUser .form-label {
  font-weight: bold; /* Etiquetas en negrita */
}

.editUser .form-control {
  border-radius: 10px;
}

.editUser .btn {
  margin-top: 10px; 
}

/*CSS FORMULARIO CREACION DE USUARIO, Se ocupa el mismo css que el de editar usuario
/* Centrar el formulario con Flexbox y agregar imagen de fondo */
.createUser {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  background-image: url('src\assets\login20.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center;
  background-repeat: no-repeat;
}

/* Mantener el estilo del formulario */
.createUser .card {
  max-width: 600px;
  width: 100%;
  border: 2px solid #007bff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  background-color: rgba(248, 249, 250, 0.9); /* Fondo claro y transparente para el formulario */
}

.createUser .card-header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.createUser .card-body {
  padding: 20px;
}

.createUser .form-label {
  font-weight: bold;
}

.createUser .form-control {
  border-radius: 10px;
  margin-bottom: 15px;
}

.createUser .btn {
  margin-top: 10px;
}

/**********************************************************************/
/* Styles ACCIDENT INVESTIGATION */

.accident-investigation {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  max-width: 900px;
}

.accident-investigation h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.accident-investigation .form-label {
  font-weight: bold;
  margin-top: 10px;
}

.accident-investigation .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.accident-investigation .btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.accident-investigation .btn:hover {
  background-color: #0056b3;
}

/* Estilo para el botón rojo en su estado normal */
.accident-investigation .btn-red {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para el botón rojo cuando se pasa el ratón (hover) */
.accident-investigation .btn-red:hover {
  background-color: darkred;
  color: white;
}


.section-title h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .accident-investigation {
    padding: 20px;
    max-width: 100%;
  }
}


/**********************************************************************/

/* Estilos para AccidentList */
.accident-list-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto;
}

.accident-list-title {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff; /* Color más oscuro para el título */
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.accident-list-table {
  width: 100%;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.accident-list-table th,
.accident-list-table td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.accident-list-table .thead-dark {
  background-color: #343a40;
  color: #fff;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Botones mejorados y espaciados para AccidentList */
.btn-accident-primary,
.btn-accident-danger,
.btn-accident-success,
.btn-accident-add-corrective {
  width: 80px; /* Botones más pequeños */
  color: #fff;
  border: none;
  padding: 6px 10px; /* Reducir padding */
  font-size: 12px; /* Reducir tamaño de texto */
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px; /* Espacio entre botones */
}

/* Estilo especial para el botón de medidas correctivas */
.btn-accident-add-corrective {
  width: 120px; /* Hacerlo más largo */
  font-size: 12px; /* Ajuste de tamaño de texto */
  background-color: #0a26319c;
}

.btn-accident-primary {
  background-color: #007bff;
}

.btn-accident-danger {
  background-color: #ff0000;
}

.btn-accident-success {
  background-color: #28a745;
}

.btn-accident-back {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn-accident-back:hover,
.btn-accident-primary:hover,
.btn-accident-danger:hover,
.btn-accident-success:hover,
.btn-accident-add-corrective:hover {
  opacity: 0.8;
}

/* Mejora del espaciado de la tabla */
.accident-list-table td {
  padding: 15px 10px;
}


/**********************************************************************/



